@using Website.Models;
@model RegisterVM
@{
    ViewData["Title"] = "Register (Csak teszteléshez!)";
}


<h2>@ViewData["Title"]</h2>

<form asp-controller="Account" asp-action="Register">
    <div>@Html.ValidationSummary( false, "", new { @class = "text-danger" } )</div>
    <div class="form-group">
        <label for="fullname">Full Name:</label>
        <input asp-for="FullName" id="fullname" size="40" class="form-control" placeholder="Your full name" />
        <span asp-validation-for="FullName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="email">E-Mail:</label>
        <input asp-for="Email" id="email" size="40" class="form-control" placeholder="Your e-mail" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="username">User Name:</label>
        <input asp-for="UserName" id="username" size="40" class="form-control" placeholder="Your user name" />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input asp-for="UserPassword" id="password" class="form-control" placeholder="Enter password" />
        <span asp-validation-for="UserPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="passwordagain">Password again:</label>
        <input asp-for="UserConfirmPassword" id="passwordagain" class="form-control" placeholder="Enter password again" />
        <span asp-validation-for="UserConfirmPassword" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>

@section Scripts
{
    @{
        await Html.RenderPartialAsync( "_ValidationScriptsPartial" );
    }
}